*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
 body{
    height: 100%;
    width: 100%;
}

:root{
    /* background color */
    --bg-primary-color: rgb(25, 25, 25);
    --bg-secondary-color: rgb(105, 114, 139);
    --bg-food-color: red;

    /* text color */
    --text-primary-color: rgb(222, 217, 217);

    /* space variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /*  border color */
    --border-color: rgb(74, 61, 61);
    --border-block-color: rgb(86, 60, 60);

    /* border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 24px;
    --border-radius-xl: 32px;
    --border-radius-2xl: 40px;
    --border-radius-3xl: 48px;
}



html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color); 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section{
    height: 100%;
    width: 100%;
}
.btn{
    padding: var(--space-sm) var(--space-md);
    background-color: rgb(245, 131, 131);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-sm);
    transform: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}

.infos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info{
    padding: var(--space-sm);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sm);
}

.broad{
    border: 1px solid var(--border-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block{
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-block-color);
    border-radius: var(--border-radius-lg);
}

.fill{
    background-color: var(--bg-secondary-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgb(45, 36, 36);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start, .modal .restart{
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.modal .restart{
    display: none;
}